body {
	font-family: FairFax HD, sans-serif; /* placeholder font */
	color: white;
	padding-top: 32px;
	padding-left: 32px;
	text-align: center;
	image-rendering: pixelated;
}
#background {
	background: url(bg.png);
	animation: scroll 4s linear infinite;
}
@keyframes scroll {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 64 0;
	}
}
h1 {
	font-size: 40px;
}
p {
	font-size: 20px;
}
.test {
	position: relative;
	width: 200px;
	padding-top: 8px;
	animation: glide 1s ease-in-out alternate infinite;
}
.spoiler {
	color: transparent;
	background-color: black;
	display: inline-flex;
}
.spoiler:hover {
	color: white;
	background-color: transparent;
}
@keyframes glide {
	from {
		bottom: 0px;
	}
	to {
		bottom: 10px;
	}
}
